@model List<DDMLib.Configuration.ConfigurationDto>

<div class="row g-4">
    @foreach (var config in Model)
    {
        <div class="col-md-4">
            <div class="card config-card h-100">
                <img src="~/Resources/default-config-image.jpg" class="card-img-top" alt="@config.Configuration.ConfigName" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@config.Configuration.ConfigName</h5>
                    <p class="card-text">@config.Configuration.Description</p>
                    <div class="mt-auto">
                        <p class="mb-1"><strong>Цель:</strong> @config.Configuration.TargetUse</p>
                        <p class="price-tag">@config.Configuration.TotalPrice.ToString("N0") ₽</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>